#stockinfo {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  height: 280px;
  width: 349px;
  margin-bottom: 20px;
  margin-top: 0px;
  position: sticky;
  top: 10px;
  border-radius: 12px;
  border: 1px solid #E6ECF0;
  z-index: 100;
  background-color: #ffffff;
}

#stockHeader {
  padding: 10px 10px 8px 20px;
  border-bottom: 1px solid rgb(230, 236, 240);
  font-size: 20px;
  margin: 0px;
}

#price {
  margin-left: 20px;
  font-size: 24px;
}

#currency {
  margin-left: 3px;
  font-size: 16px;
  color: #616161;
}

#priceMovements {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  width: 40px;
  font-size: 11px;
}

#stockHeader a:hover {
  color: rgb(29, 161, 242);
  text-decoration: underline;
}

#stockHeader a:link {
  color: black;
  text-decoration: none;
}

#stockHeader a:visited {
  color: black;
  text-decoration: none;
}

#percentChange {
  width: auto;
  height: auto;
}

div[class*="svg-container"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 340px;
}

#stockinfo #footer {
  margin-top: 20px;
}
