body {
  margin: 0px;
  background-color:#ffffff;
  width:260px;
  height:auto;
}

#title {
  margin-top: 5px;
}

#title img {
  width: 56px;
  height: 56px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#container {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

#instructions {
  margin-left: 15px;
  margin-top: 6px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #424242;
  width: 220px;
}
#apiSub {
  display: flex;
  margin: auto;
  width: 100%;
  height: 25px;
}

#keyInput {
  border-radius: 15px;
  box-sizing: border-box;
  border-width: .5px;
  border-color: #999999;
  border-style: solid;
  width: 150px;
  margin-left: 14px;
  padding-left: 8px;
  outline: none;
  color: #212121;
}

#submitButton {
  width: 63px;
  margin-left: 9px;
  border-radius: 15px;
  border-width: 0px;
  color: #ffffff;
  background-color: #1DA1F2;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  transition-duration: .4s;
  text-decoration: none;
  outline: none;
}

#submitButton:hover {
  text-decoration: none;
  background-color: #1D59F2;
  cursor: pointer;
}

#noKeyMsg {
  margin-top: 7px;
  font-weight: 300;
  font-size: 11px;
  color: #404040;
  text-align: center;
}

#keyInfo {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  color: #212121;
  margin-top: 8px;
}

#firstMessage {
  margin: 0px;
}

#apiKey {
  font-size: 18px;
  font-weight: normal;
  margin-top: 3px;
  margin-bottom: 0px;
}

#keyIn img {
  width: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1px;
}

#reenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background-color: #1DA1F2;
  border-radius: 15px;
  border-width: 0px;
  outline: none;
  height: 24px;
  width: 86px;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 500;
  transition-duration: .4s;
}

#reenter:hover {
  text-decoration: none;
  background-color: #1D59F2;
  cursor: pointer;
}

#help {
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
  color: #AEAEAE;
}
